<% content_for :title, @publication.title %>

<div class="article-full">
  <article class="article-body">
      <div class="article-meta">
      	<span class="date"><%= @publication.created %></span> by
		<%= author(@publication) %>
      </div>

    <%= @publication.content.try(:html_safe) %>
  </article>

  <h3>Comments</h3>

  <%= juvia_comments @publication.slug %>

</div>
